<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="container">
  <div class="card" *ngIf="!isLoading">
    <h4 class="card-header">All lecturers ({{lecturers.length}})</h4>
    <div class="card-block">
      <table class="table table-bordered table-hover table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>Fullname</th>
          <th>Email</th>
          <th>Specialization</th>
          <th>Courses</th>
          <th class="actions" *ngIf="isUserAdmin">Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="lecturers.length === 0">
        <tr>
          <td colspan="3">There are no lecturers in the DB</td>
        </tr>
        </tbody>
        <tbody *ngIf="!isEditing">
        <tr *ngFor="let lecturer of lecturers; let i = index">
          <td>{{lecturer?.title}} {{lecturer?.name?.first}} {{lecturer?.name?.middle}} {{lecturer?.name?.last}}</td>
          <td>{{lecturer.email}}</td>
          <td>{{lecturer.specialization}}</td>
          <td><small *ngFor="let course of lecturer?.courses">{{course.code}} </small></td>
          <td *ngIf="isUserAdmin" class="actions">
            <button #del id="del{{i}}" class="btn btn-sm btn-success"  (click)="deleteLecturer(lecturer, i)"><em class="fa fa-trash"></em></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>