<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Welcome</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="/assets/img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">Class Attendance System</span>
          <hr class="star-light">
          <span class="skills">Final Year Project for Excellence O. Ilesanmi</span>
        </div>
      </div>
    </div>
  </div>
</header>