<!--<div class="container">-->

<!--&lt;!&ndash; .navbar &ndash;&gt;-->

<!-- /.navbar -->

  <!--&lt;!&ndash; Navigation &ndash;&gt;-->
  <!--<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">-->
    <!--<div class="container">-->
      <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
      <!--<div class="navbar-header page-scroll">-->
        <!--&lt;!&ndash;<a class="navbar-brand" href="#page-top">Class Attendance System</a>&ndash;&gt;-->
        <!--<a routerLink="/home" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
          <!--<i class="fa fa-home"></i> Class Attendance System-->
        <!--</a>-->

        <!--<ul class="nav navbar-nav navbar-right">-->
          <!--<li class="hidden">-->
            <!--&lt;!&ndash;<a routerLink="/home" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-home"></i> Home&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--<a ></a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">-->
              <!--<i class="fa fa-info-circle"></i> About-->
            <!--</a>-->
          <!--</li>-->
          <!--<li *ngIf="this.userService.isUserALecturer()">-->
            <!--<a routerLink="/courses" class="nav-item nav-link" routerLinkActive="active">-->
              <!--<i class="fa fa-info-circle"></i> Courses-->
            <!--</a>-->
          <!--</li>-->
          <!--<li *ngIf="this.userService.isUserAStudent()" >-->
            <!--<a routerLink="/profile" class="nav-item nav-link" routerLinkActive="active">-->
              <!--<i class="fa fa-info-circle"></i> Profile-->
            <!--</a>-->
          <!--</li>-->
          <!--<li *ngIf="!this.userService.isLoggedIn()">-->
            <!--<a routerLink="/login"  class="nav-item nav-link" routerLinkActive="active">-->
              <!--<i class="fa fa-info-circle"></i> Login-->
            <!--</a>-->
          <!--</li>-->
          <!--<li *ngIf="this.userService.isLoggedIn()">-->
            <!--<a routerLink="/login" class="nav-item nav-link" routerLinkActive="active">-->
              <!--<i class="fa fa-info-circle"></i> Logout-->
            <!--</a>-->
          <!--</li>-->
          <!--<li *ngIf="!this.userService.isLoggedIn()">-->
            <!--<a routerLink="/register" class="nav-item nav-link" routerLinkActive="active">-->
              <!--<i class="fa fa-info-circle"></i> Register-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->



      <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
      <!--&lt;!&ndash;<div class="" >&ndash;&gt;-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container-fluid &ndash;&gt;-->
  <!--</nav>-->

<!--<nav class="navbar navbar-default bg-primary">-->
  <!--<div class="nav navbar-nav">-->
    <!--<a routerLink="/home" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
      <!--<i class="fa fa-home"></i> Home-->
    <!--</a>-->
    <!--<a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">-->
      <!--<i class="fa fa-info-circle"></i> About-->
    <!--</a>-->
    <!--<a routerLink="/courses" *ngIf="this.userService.isUserALecturer()" class="nav-item nav-link" routerLinkActive="active">-->
      <!--<i class="fa fa-info-circle"></i> Courses-->
    <!--</a>-->
    <!--<a routerLink="/profile" *ngIf="this.userService.isUserAStudent()" class="nav-item nav-link" routerLinkActive="active">-->
      <!--<i class="fa fa-info-circle"></i> Profile-->
    <!--</a>-->
    <!--<a routerLink="/login" *ngIf="!this.userService.isLoggedIn()" class="nav-item nav-link" routerLinkActive="active">-->
      <!--<i class="fa fa-info-circle"></i> Login-->
    <!--</a>-->
    <!--<a routerLink="/login" *ngIf="this.userService.isLoggedIn()" class="nav-item nav-link" routerLinkActive="active">-->
      <!--<i class="fa fa-info-circle"></i> Logout-->
    <!--</a>-->
    <!--<a routerLink="/register" *ngIf="!this.userService.isLoggedIn()" class="nav-item nav-link" routerLinkActive="active">-->
      <!--<i class="fa fa-info-circle"></i> Register-->
    <!--</a>-->
  <!--</div>-->
<!--</nav>-->

  <router-outlet></router-outlet>



<!--</div>-->