<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="container">
  <div class="card" *ngIf="!isLoading">
    <h4 class="card-header">All students ({{students.length}})</h4>
    <div class="card-block">
      <table class="table table-bordered table-hover table-responsive">
        <thead class="thead-inverse">
        <tr>
          <th>Fullname</th>
          <th>Email</th>
          <th>Matric Number</th>
          <th>RFID UID</th>
          <th>Level</th>
          <th>Courses</th>
          <th class="actions" *ngIf="isUserAdmin">Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="students.length === 0">
        <tr>
          <td colspan="3">There are no students in the DB</td>
        </tr>
        </tbody>
        <tbody *ngIf="!isEditing">
        <tr *ngFor="let student of students; let i = index">
          <td><a [routerLink]="['/student', student?._id]">{{student?.name?.first}} {{student?.name?.middle}} {{student?.name?.last}}</a></td>
          <td>{{student?.email}}</td>
          <td>{{student?.matric_no}}</td>
          <td>{{student?.rfid_uid}}</td>
          <td>{{student?.level}}</td>
          <td><small *ngFor="let course of student?.courses"><a [routerLink]="['/course',course._id]">{{course.code}}</a> </small></td>
          <td *ngIf="isUserAdmin" class="actions">
            <button #del id="del{{i}}" class="btn btn-sm btn-success"  (click)="deleteStudent(student, i)"><em class="fa fa-trash"></em></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>